<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>
	<div id="navigation bar">
		{% if authenticated_user %}
			<a href="{{ url_for('show_main_directory') }}">go to home page</a>
			<a href="{{ url_for('logout') }}">Logout</a>
		{% endif %}
	</div>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
	
	{% block body %}
	{% endblock %}
</html>
