{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
	<form action="{{ url_for('login', next=request.endpoint) }}" method="post">
	  <div class="mb-3">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	    <label for="username" class="form-label">username</label>
	    <input type="text" class="form-control" name="username" id="username">
	  </div>
	  <div class="mb-3">
	    <label for="password" class="form-label">password</label>
	    <input type="password" name="password" class="form-control" id="password">
	  </div>
	  <button type="submit" class="btn btn-primary">Login</button>
	</form>
{% endblock %}
