{% extends "layout.html" %}

{% block title %}Media{% endblock %}

{% block body %}
	<a href="{{ url_for('upload') }}">
		<button type="button">Upload in current folder</button>
	</a>
	<a href="{{ url_for('render_new_folder_form') }}">
		<button type="button">Create new folder</button>
	</a>
    
    <ul>
        {% for directory in sub_directories %}
            <li>
				<a href="{{ url_for('show_directory', path=rel_path + directory) }}">
                    {{ directory }}
                </a>
               	<a href="{{ url_for('confirm_delete_folder', path=rel_path + directory) }}">
					<button type="button">Delete this folder</button>
				</a>
            </li>
        {% endfor %}
        
         {% for file in files %}
            <li>
				<a href="{{ url_for('show_directory', path=rel_path + file) }}" target="_blank">
                    {{ file }}
                </a>
                <a href="{{ url_for('confirm_delete_folder', path=rel_path + file) }}">
					<button type="button">Delete this file</button>
				</a>
            </li>
        {% endfor %}
    </ul>
    
    <!-- Show second button if at least one file or sub directory exists-->
    {% if sub_directorie or files %}
		<a href="{{ url_for('upload') }}">
			<button type="button">Upload in current folder</button>
		</a>
		<a href="{{ url_for('render_new_folder_form') }}">
			<button type="button">Create new folder</button>
		</a>
	{% endif %}
{% endblock %}
